<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserTestExample">

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="PathAandB"/>
        </packages>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="PathAandB"/>
        </packages>
    </test>

    <test name="IETest">
        <parameter name="browser" value="ie"/>
        <packages>
            <package name="PathAandB"/>
        </packages>
    </test>

</suite>